<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Alley Run Game
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="start_game()">Start</ion-button>
      <ion-button (click)="stop_game()">Quit</ion-button>
    </ion-buttons>
    <ion-label slot="end" class="score-display">{{ message }}</ion-label>
    <ion-label slot="end" class="score-display">{{ score }}</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alley Run Game</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="canvas-container" #container>
    <canvas #progressBar class="progress-bar"></canvas>
    <canvas #gameCanvas class="game-canvas"></canvas>
  </div>
</ion-content>
