#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.progress-bar {
  border: 1px solid black;
  background-image: url('../../assets/RunningBar_Background.png');
  background-size: cover;
  width: 100%;
  height: auto;
}
.game-canvas {
  border: 1px solid black;
  background-image: url('../../assets/GameBackground.png');
  background-size: cover;
  width: 100%;
  height: 80%;
}

.toolbar-title {
  flex: 1;
  text-align: left;
}

.score-display {
  color: white;
  margin-right: 16px;
}